@page
@model CR_Proiect.Pages.Biserici.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Biserica[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biserica[0].Religie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biserica[0].Rege.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biserica[0].Regina.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Biserica)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Religie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rege.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Regina.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
